@font-face {
  font-family: "Popins";
  src: url(./font/Poppins-Regular.ttf);
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Popins";
}

body {
  font-family: "Popins";
  background-color: var(--background);
  color: var(--text-primary);
}
